# fastapi
# httpx
# PyMuPDF==1.24.14
# python-multipart
# reedsolo
# SQLAlchemy
# numpy
# opencv-python
# Pillow
# pytest
# torch
# uvicorn

fastapi
httpx
PyMuPDF==1.24.14
python-multipart
reedsolo
SQLAlchemy
uvicorn
crcmod
numpy
opencv-python
Pillow
torch
torchvision